@import 'tablesorter.css';
@import '../../../css/jquery_plugins/fancybox/jquery.fancybox.css';
@import '../../../css/ui/simple/jquery-ui-1.10.1.custom.min.css';

.loading{
	background:url('images/loading.gif') left top no-repeat;
	padding-left: 30px;
}


/* ABM Generic */
#abmTop{
	margin-bottom: 15px;
}

#abmTop h2{
	margin: 0;
}

#abmTop .menu-container a.dropdown-toggle{
	height: 40px;
	line-height: 3;
}

/* Form */
#crudForm input[type="text"]{
	border: 1px solid #469FB9;
}


/* Dropdown */
.tools button.btn{
    background: #469FB9;
    height: 30px;
    color: #FFF;
    text-shadow: none;
	box-shadow: none;
	border-radius: 0 !important;
}
.tools button.btn:hover{
    background: #77CCDB;
    text-shadow: none;
    box-shadow: none;
}
.tools .btn-group.open .dropdown-menu{
  border: 1px solid #469FB9 !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.tools .btn-group.open button.dropdown-toggle{
  background: #77CCDB;
  text-align: center;
  text-decoration: none;
  box-shadow: none;
}

.tools .btn-group.open .dropdown-menu li a{
  color: #469FB9;
}
.tools .btn-group.open .dropdown-menu li a:hover{
  color: #fff;
  background: #469FB9;
  background-image: none;
}

/* ABM list */
.basicGrid {
  border: 1px solid #469FB9;
  border-collapse: collapse;
  border-left: 1px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.basicGrid thead{
  background: #469FB9;
  color: #fff;
}
.basicGrid thead tr th{
  text-align: center;
}
.basicGrid .item-content{
  position: relative;
}
.basicGrid tr:hover td {
  background: #CBE8ED;
}
.basicGrid tr:hover .edit-group{
  display: block;
  position: absolute;
  right: 10px;
  margin-top: -19px;  
}
.basicGrid th, .basicGrid td {
  border-top: 1px solid #469FB9;
  border-left: 1px solid #469FB9;
  vertical-align: middle;
}
.basicGrid th, .basicGrid td p{
  margin: 0;
}
.basicGrid td:last-child{
	width: 150px;
}
.basicGrid .roundedThree{
  background: none;
  margin: 0 auto;
}

/* Paginador */
.pGroup input{
	width: 43px;
	line-height: 28px;
	height: 28px;
	border: 1px solid #469FB9;
}
.pGroup .pager{
	margin: 0;
}
.pPageStat{
	height: 25px;
	line-height: 30px;
}
#tb_per_page_chosen{
	width: 50px !important;
}

/* Edition Group */
.edit-group{
  display: none;
  overflow: auto;
}
.edit-group a{
  display: inline-block;
  vertical-align: middle;
}
.delete{
  background: url(../img/close_icon.png) no-repeat center;
  height: 25px;
  width: 25px;
}
.edit{
  background: url(../img/edit_icon.png) no-repeat center;
  height: 25px;
  width: 25px;
}